﻿/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.mdi {
    font-family: MaterialIcons, "Material Icons";
}

.bottom-nav {
    margin: 0;
    border-top-color: #ececec;
    border-top-width: 1;
    text-align: center;
}

/* background-color is necessary for the following class, otherwise view will not render properly */
.bottom-nav-btn {
    padding-top: 8;
    padding-bottom: 8;
    color: #888888;
    background-color: transparent;
}

/* background-color is necessary for the following class, otherwise view will not render properly */
.bottom-nav-btn-active {
    padding-top: 8;
    padding-bottom: 8;
    color:#223e92;
    background-color: transparent;
}

.bottom-nav-icon {
    font-size: 20;
}

.bottom-nav-text {
    font-size: 12;
    text-transform: capitalize;
}